nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}
.nav-title{
    font-size: 35px;
    color:#4E47FF;
    font-weight: bold;
    
}
.raleway-font {
  font-family: "Raleway", sans-serif;
 
  font-weight: bold;
  
}

.btn-share:hover{
    background-color: cadetblue;
}

.btn-pri{
   
    width: 132px;
    height:48px ;

}
.btn-share{
     background-color: #4E47FF;
    color:#fff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}
.banner-heading{
    text-align: center;
    font-size: 65px;
    padding-top: 160px;
}
.btn-2{
   width: 174px;
   height: 48px;

}
.btn{
    text-align: center;
    padding:37px;
}
.header{
    background-image: url(Assets/Hero-bg.png);
}

/* Action section */
main{
    margin-left: 140px;
    margin-right: 160px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.action-title{
    font-size: 42px;
}
.action-description{
    font-size: 24px;
    color: #252432;
}
.btn-3{
 width:230px;
 height:48px;
}
.image-mini{
    border-radius: 48px;
    border: none;
}
.product{
    display: flex;
    justify-content:space-around;
}
.production-title{
    text-align: center;
    font-size: 38px;
    padding-top: 50px;
}
.product-amount{
    font-size: 80px;
    color:#4E47FF;
    margin:0px;
}
.production{
    background-color: rgba(78, 71, 255, 0.1);
    height: 310px;
    border-radius: 24px;
    border:none;
}
.count{
    padding-left: 150px;
    padding-bottom: 50px;
}
.product-titles{
    margin: 0px;
    font-size: 24px;
}
.stats-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}
section{
    margin-top:150px;
    margin-bottom: 150px;
}
.center{
    text-align: center;
}
.focus-title{
    font-size: 50px;
    margin:0px;
     padding-top: 70px;
}
.image-b{
    display: block;
    margin:30px auto 200px auto;
    
    border-radius: 20px;
    border:none;
}
body{
    background-color: rgb(244, 246, 247);
}
.focus{
    background-color: #fff;
    border-radius: 10px;
    border: none;
    height:720px;
    
}
.container{
    display: flex;
    justify-content: space-between;
}
   input[type="text"], input[type="email"],textarea{
    background-color: #fff;
    height:55px;
    border-radius: 5px;
    padding:15px;
    margin-bottom: 24px;
    
    border: none;
    display: block;
    width:100%;
    font-size: medium;
  }
  label{
    font-size: 18px;
  }
 
  .form{
    width:50%;
    padding:50px;
  }
  .title{
    font-size: 70px;
  }
  .btn-4{
    width:100%;
    height:62px;
  }
  .shadow-heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}
.footer-title{
    color:#4E47FF;
    font-size: 100px;
    padding-top: 80px;
}
.menu-container{
    display:flex;
   gap:40px;
   padding:0px 550px ;
   align-items: center;
}
footer{
    background-color: #fff;
}
.footer-description, .menu-description{
 color:#8987A1; 
}

/* Card section */
.card-container{
    display:flex;
    gap:40px;
}
.card{
    border:3px solid #F2EDED;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.card-titles{
    font-size: 42px;
}
.cards{
    background-color: #fff;
}
